ENV=development # 'development' | 'production'

# DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_NAME}

# Auth - Generate this secret by running `pnpm run auth:secret`
BETTER_AUTH_SECRET=change-me-to-a-random-secret-at-least-32-chars
BETTER_AUTH_URL=http://localhost:5173 # This should be your deployment url
